@model Escalada.Models.ViewModels.InscriptionEditViewModel

@{
ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inscription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Evento" class="control-label"></label>
                <select asp-for="EventoId" asp-items="Model.EventListItems" class="form-control"></select>
                <span asp-validation-for="EventoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <select asp-for="ClienteId" asp-items="Model.CustomerListItems" class="form-control"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="QtdInteira" class="control-label"></label>
                <input asp-for="QtdInteira" class="form-control" />
                <span asp-validation-for="QtdInteira" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdMeia" class="control-label"></label>
                <input asp-for="QtdMeia" class="form-control" />
                <span asp-validation-for="QtdMeia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorRecebido" class="control-label"></label>
                <input asp-for="ValorRecebido" class="form-control" />
                <span asp-validation-for="ValorRecebido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPagamento" class="control-label"></label>
                <select asp-for="TipoPagamentoId" asp-items="Model.PaymentTypeListItems" class="form-control">
                </select>
                <span asp-validation-for="TipoPagamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}