<div class="text-center">
<div id="fornecedor">
    <form id="formFornecedor" class="form-group">
      <div class="row">
        <div class="col">
          <h2>Fornecedor</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input
            id="formFornecedorCreate"
            type="radio"
            name="funcao"
            value="create"
            onchange="habilitaForm(this.checked, 'create', 'Fornecedor')"
          />
          <label for="formFornecedorCreate">Cadastrar</label>
          <input
            id="formFornecedorRead"
            type="radio"
            name="funcao"
            value="read"
            onchange="habilitaForm(this.checked, 'read', 'Fornecedor')"
          />
          <label for="formFornecedorRead">Consultar</label>
          <!-- <input id="formFornecedorUpdate" type="radio" name="funcao" value="update"
                                onchange="habilitaForm(this.checked, 'update', 'Fornecedor')">
                            <label for="formFornecedorUpdate">Atualizar</label>
                            <input id="formFornecedorDelete" type="radio" name="funcao" value="delete"
                                onchange="habilitaForm(this.checked, 'delete', 'Fornecedor')">
                            <label for="formFornecedorDelete">Excluir</label> -->
        </div>
        <div class="col">
          <button
            class="btnAcao btn"
            style="display:none"
            type="button"
          ></button>
          <button
            class="btnUpdate btn btn-success"
            style="display:none"
            type="button"
            form=""
            onclick="executaXML('update','Fornecedor')"
          >
            Atualizar
          </button>
          <button
            class="btnDelete btn btn-danger"
            style="display:none"
            type="button"
            form=""
            onclick="executaXML('delete','Fornecedor')"
          >
            Excluir
          </button>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col colNome">
          <div class="form-group">
            <label for="formFornecedorCNPJ">CNPJ</label><br />
            <input
              id="formFornecedorCNPJ"
              class="form-control"
              name="cnpj"
              type="text"
              minlength="15"
              maxlength="15"
              disabled="true"
              required
            /><br />
          </div>
        </div>
        <div class="col colNovoNome">
          <div class="form-group">
            <label for="formFornecedorNovoCNPJ" style="display:none">CNPJ</label
            ><br />
            <input
              id="formFornecedorNovoCNPJ"
              style="display:none"
              class="form-control"
              name="novoCnpj"
              type="text"
              minlength="15"
              maxlength="15"
              disabled="true"
            /><br />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="formFornecedorNome">Nome do fornecedor</label><br />
            <input
              id="formFornecedorNome"
              class="form-control"
              name="nome"
              type="text"
              disabled="true"
              required
            /><br />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="formFornecedorEndereco">Endereço</label><br />
            <input
              id="formFornecedorEndereco"
              class="form-control"
              name="endereco"
              type="text"
              disabled="true"
              required
            /><br />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="formFornecedorEmail">E-mail:</label><br />
            <input
              id="formFornecedorEmail"
              class="form-control"
              name="email"
              type="text"
              disabled="true"
              required
            /><br />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="formFornecedorTelefone">Telefone comercial:</label
            ><br />
            <input
              id="formFornecedorTelefone"
              class="form-control"
              name="telefone"
              type="text"
              minlength="10"
              maxlength="11"
              disabled="true"
              required
            /><br />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="formFornecedorServico">Serviço:</label><br />
            <textarea
              id="formFornecedorServico"
              class="form-control"
              name="servico"
              cols="100"
              rows="1"
              disabled="true"
              required
            ></textarea
            ><br />
          </div>
        </div>
      </div>
    </form>

    <!-- Modal utilizado para exibir uma lista de clientes, eventos ou fornecedores -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle"></h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid" id="modalBody"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
    
</div>