<div class="text-center">
  <img
  class="mb-5"
    src="~/img/Summit-preto.png"
    alt="SUMMIT Ginásio de Escalada"
    style="width:300px;height:100px;"
  />

  <h2>Gerenciador de eventos</h2>

  <div class="row my-3">
    <div class="col">
      <button type="button" class="btn btn-secondary" onclick="window.location.href='/Event'">
        Eventos
      </button>
      <button type="button" class="btn btn-secondary" onclick="window.location.href='/Customer'">
        Clientes
      </button>
      <button type="button" class="btn btn-secondary" onclick="window.location.href='/Provider'">
        Fornecedores
      </button>
    </div>
  </div>
</div>
