<div class="text-center">
    <div id="cliente">
    <form id="formCliente" class="form-group">
      <div class="row">
        <div class="col">
          <h2>Cliente</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input
            id="formClienteCreate"
            type="radio"
            name="funcao"
            value="create"
            onchange="habilitaForm(this.checked, 'create', 'Cliente')"
          />
          <label for="formClienteCreate">Cadastrar</label>
          <input
            id="formClienteRead"
            type="radio"
            name="funcao"
            value="read"
            onchange="habilitaForm(this.checked, 'read', 'Cliente')"
          />
          <label for="formClienteRead">Consultar</label>
          <!-- <input id="formClienteUpdate" type="radio" name="funcao" value="update"
                            onchange="habilitaForm(this.checked, 'update', 'Cliente')">
                        <label for="formClienteUpdate">Atualizar</label>
                        <input id="formClienteDelete" type="radio" name="funcao" value="delete"
                            onchange="habilitaForm(this.checked, 'delete', 'Cliente')">
                        <label for="formClienteDelete">Excluir</label> -->
        </div>
        <div class="col">
          <button
            class="btnAcao btn"
            style="display:none"
            type="button"
          ></button>
          <button
            class="btnUpdate btn btn-success"
            style="display:none"
            type="button"
            form=""
            onclick="executaXML('update','Cliente')"
          >
            Atualizar
          </button>
          <button
            class="btnDelete btn btn-danger"
            style="display:none"
            type="button"
            form=""
            onclick="executaXML('delete','Cliente')"
          >
            Excluir
          </button>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col colNome">
          <div class="form-group">
            <label for="formClienteCPF">CPF</label><br />
            <input
              id="formClienteCPF"
              class="form-control"
              name="cpf"
              type="text"
              minlength="11"
              maxlength="11"
              disabled="true"
              required
            /><br />
          </div>
        </div>
        <div class="col colNovoNome">
          <div class="form-group">
            <label for="formClienteNovoCPF" style="display:none">CPF</label
            ><br />
            <input
              id="formClienteNovoCPF"
              style="display:none"
              class="form-control"
              name="novoCpf"
              type="text"
              minlength="11"
              maxlength="11"
              disabled="true"
            /><br />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="formClienteNome">Nome do cliente</label><br />
            <input
              id="formClienteNome"
              class="form-control"
              name="nome"
              type="text"
              disabled="true"
              required
            /><br />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="formClienteStatus">Status</label><br />
            <select
              id="formClienteStatus"
              class="custom-select"
              name="status"
              disabled="true"
            >
              <option selected></option>
              <option value="Inscricao confirmada">Inscrição confirmada</option>
              <option value="Inscricao cancelada">Inscrição cancelada</option>
              <option value="Confirmacao pendente">Confirmação pendente</option>
            </select>
            <br />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="formClienteEndereco">Endereço</label><br />
            <input
              id="formClienteEndereco"
              class="form-control"
              name="endereco"
              type="text"
              disabled="true"
              required
            /><br />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="formClienteEmail">E-mail:</label><br />
            <input
              id="formClienteEmail"
              class="form-control"
              name="email"
              type="email"
              disabled="true"
              required
            /><br />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="formClienteNumFone1">Telefone residencial:</label><br />
            <input
              id="formClienteNumFone1"
              class="form-control"
              name="numFone1"
              type="tel"
              minlength="10"
              maxlength="11"
              disabled="true"
              required
            /><br />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="formClienteNumFone2">Telefone Celular:</label><br />
            <input
              id="formClienteNumFone2"
              class="form-control"
              name="numFone2"
              type="tel"
              minlength="10"
              maxlength="11"
              disabled="true"
              required
            /><br />
          </div>
        </div>
      </div>
    </form>
  </div>

    <!-- Modal utilizado para exibir uma lista de clientes, eventos ou fornecedores -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle"></h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid" id="modalBody"></div>
        </div>
      </div>
    </div>
  </div>
</div>