@model Escalada.Models.ViewModels.CustomerListViewModel

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Cadastrar novo cliente</a>
</p>

@await Html.PartialAsync("_CustomerList", Model.Customers)