<section>
    <form>
        <div class="row">
            <div class="col-12">
                <h2>Evento</h2>
            </div>
            <div class="col-12 col-lg-12">
                <div class="form-group">
                    <label for="formEventoNome">Nome do evento</label>
                    <input id="formEventoNome" class="form-control" name="nome" type="text" required />
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="form-group">
                    <label for="formEventoStatus">Status</label>
                    <select id="formEventoStatus" class="custom-select" name="status">
                        <!-- <option selected></option> -->
                        <option value="Aguardando resposta">Aguardando resposta</option>
                        <option value="Resposta recebida">Resposta recebida</option>
                        <option value="Evento iniciado">Evento iniciado</option>
                        <option value="Evento terminado">Evento terminado</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="form-group">
                    <label for="formEventoLocal">Local</label>
                    <input id="formEventoLocal" class="form-control" name="local" type="text" required />
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="form-group">
                    <label for="formEventoDataInicio">Data de início</label>
                    <input id="formEventoDataInicio" class="form-control" name="dataInicio" type="datetime-local"
                        required />
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="form-group">
                    <label for="formEventoDataTermino">Data de término</label>
                    <input id="formEventoDataTermino" class="form-control" name="dataTermino" type="datetime-local"
                        required />
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="form-group">
                    <label for="formEventoCapacidade">Capacidade</label>
                    <input id="formEventoCapacidade" class="form-control" name="capacidade" type="number" required
                        min="1" />
                </div>
            </div>

            <div class="col-6 col-lg-3">
                <div class="form-group">
                    <label for="formEventoQuorum">Número mínimo de participantes:</label>
                    <input id="formEventoQuorum" class="form-control" name="quorum" type="number" required min="1" />
                </div>
            </div>

            <div class="col-6 col-lg-3">
                <div class="form-group">
                    <label for="formEventoOrcamentoPrevio">Orçamento prévio:</label>
                    <input id="formEventoOrcamentoPrevio" class="form-control" name="orcamentoPrevio" type="number"
                        required min="1" step="1" />
                </div>
            </div>

            <div class="col-6 col-lg-3">
                <div class="form-group">
                    <label for="formEventoValorIngresso">Valor do ingresso:</label>
                    <input id="formEventoValorIngresso" class="form-control" name="valorIngresso" type="number" required
                        min="1" step="1" />
                </div>
            </div>
            <div class="col-12 text-center">
                <button class="col-sm-12 col-md-3 btn btn-success">Enviar</button>
            </div>
        </div>
    </form>
</section>