<section>
    <div class="row">
        <div class="col-12">
            <h2>Evento</h2>
        </div>

        <div class="col-10">
            <a asp-controller="Event" asp-action="Create">Criar Novo</a>
            <table class="table table-sm w-auto" id="mytable">
                <caption>Alien football stars</caption>
                <thead>
                    <tr class="thead-dark">
                        <th scope="col" class="col">Nome</th>
                        <th scope="col" class="col">Data</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">TR-7</th>
                        <td>7</td>
                        <td>
                            <i class="oi oi-pencil text-primary table-action edit-action" data-id="{{id}}"
                            title="Editar produto"></i>
                        <i class="oi oi-trash text-danger table-action remove-action" data-id="{{id}}"
                            title="Excluir produto"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>